.tag {
    width: 276px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    box-shadow: 1px 3px 4px #DADADA;
}

.tag:hover {
    background-color: #222;
}

.text {
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
}

.purple {
    background-color: #9C56B8;
}

.teal {
    background-color: #00BE9C;
}

.light-green {
    background-color: #50D88A;
}

.light-blue {
    background-color: #2C97DF;
}

.calm-red {
    background-color: #E84C3D;
}