.infoBox {
    width: 100%;
    margin-top: 7%;
    margin-left: 25px;
    margin-right: 25px;
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin-top: 25px;
}

.information-field {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.information-field .label {
    font-size: 14px;
    color: #4C4C4C;
}

.information-field .value {
    font-size: 16px;
    color: #121212;
}

.value.bad {
    color: #B90000;
}

.value.regular {
    color: #FF7805;
}

.value.good {
    color: #108A00;
}