.tags-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}

.tags-wrapper .icon.left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.tags-wrapper .header {
    margin-bottom: 10%;
}