.divWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35%;
}

.divWrapper .section-header {
    margin-bottom: 10%;
}

.textWrapper {
    margin: 10px;
    font-weight: 800;
    margin-bottom: 40px;
}

.searchField {
    min-width: 276px;
    font-size: 16px;
    width: 276px;
    border-color: #7A18FF;
    outline: none;
    height: 50px;
    padding-left: 15px;
    margin-bottom: 40px;
}
::placeholder {
    color: #4C4C4C;
    font-family: 'Muli', sans-serif;
}

.spain, .croatia, .turkey, .greece, .italy, .france {
    margin: 10px;
    min-width: 276px;
    height: 55px;
    font-weight: 700;
    font-size: 24px;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
}

.spain {
    background: url('/images/countries/spain.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0%;
    background-size: cover;
}

.croatia {
    background: url('/images/countries/croatia.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.turkey {
    background: url('/images/countries/turkey.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.greece {
    background: url('/images/countries/greece.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.france {
    background: url('/images/countries/france.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.italy {
    background: url('/images/countries/italy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.link {
    text-decoration: none;
    color: inherit;
}
