.country {
    width: 100%;
}

.country .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 7% auto;;
}

.header .title {
    margin-bottom: auto;
}

.header .icon {
    position: absolute;
    right: 36px;
}

.map {
    width: 100%;
    height: 281px;
    position: relative;
    background-image: url('/images/map.png');
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #D8D8D8;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}

.flag {
    position: absolute;
    top: 12px;
    right: 25px;
}

.floating-blur {
    width: 100%;
    min-height: 70px;
    position: absolute;
    bottom: 0;
    filter: blur(50px);
}

.map .floating-blur {
    background-color: #FFF;
    opacity: 0.7;
}

.floating-data {
    box-sizing: border-box;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 17px;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}

.data-column {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.secondary {
    font-size: 14px;
    color: #4C4C4C;
}

.news .title {
    margin: 7% auto;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 7%;
}

.tab {
    padding: 3% 3%;
    flex-grow: 1;
}