@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700');

.App {
  width: 100%;
  max-width: 550px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}


