body {
  height: 100%;
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.section-header {
  font-weight: 700;
  font-size: 24px;
  color: #4C4C4C;
}

.text {
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
}

.floating-blur {
  width: 100%;
  min-height: 70px;
  position: absolute;
  bottom: 0;
  filter: blur(50px);
}

.purple {
  background-color: #9C56B8;
}

.teal {
  background-color: #00BE9C;
}

.light-green {
  background-color: #50D88A;
}

.light-blue {
  background-color: #2C97DF;
}

.calm-red {
  background-color: #E84C3D;
}

.yellow {
  background-color: #F1C50E;
}
